<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swiggy</title>
    <link rel="stylesheet" href="/style/restauranthome.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>
<body>
 

    <div class="container">
      <div class="d-flex align-items-center justify-content-between">

        <div class="d-flex justify-content-center mb-2 logo" >
           
          <img src="https://cdn.freelogovectors.net/wp-content/uploads/2023/11/swiggy-logo-freelogovectors.net_.png" height="80px" alt="">   

      </div>
      
        <div class="d-flex justify-content-end" >
          <div class="dropdown">
            <i class="bi bi-person-circle fs-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            </i>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </div>
    </div>
  
         

      </div>
      <div class="text-blob">
       Hii welcome <%= name %> ....
      </div>
        <div class="cards-list">

            <a href="/orders" class="card 4 mb-3" style="border-radius: 40px; text-decoration: none;">
                <div class="card_image">
                  <img src="https://browntape.com/wp-content/uploads/2017/09/bb.png" />
                  </div>
                <div class="card_title title-black">
                  <!-- <p style="color: gray;">Orders</p> -->
                </div>
            </a>
  
           
        
            
            <a href="/fooditems" class="card 3 mb-3" style="border-radius: 40px; text-decoration: none;">
              <div class="card_image">
                <img src="https://images.unsplash.com/opengraph/1x1.png?blend=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1568031813264-d394c5d474b9%3Fblend%3D000000%26blend-alpha%3D10%26blend-mode%3Dnormal%26crop%3Dfaces%252Cedges%26h%3D630%26mark%3Dhttps%253A%252F%252Fimages.unsplash.com%252Fopengraph%252Fsearch-input.png%253Fh%253D84%2526txt%253Dmenu%2526txt-align%253Dmiddle%25252Cleft%2526txt-clip%253Dellipsis%2526txt-color%253D000000%2526txt-pad%253D80%2526txt-size%253D40%2526txt-width%253D660%2526w%253D750%2526auto%253Dformat%2526fit%253Dcrop%2526q%253D60%26mark-align%3Dmiddle%252Ccenter%26mark-w%3D750%26w%3D1200%26auto%3Dformat%26fit%3Dcrop%26q%3D60%26ixid%3DM3wxMjA3fDB8MXxzZWFyY2h8Mnx8bWVudXxlbnwwfHx8fDE3MDQ0NjM1NTZ8MA%26ixlib%3Drb-4.0.3&blend-w=1&h=630&mark=https%3A%2F%2Fimages.unsplash.com%2Fopengraph%2Flogo.png&mark-align=top%2Cleft&mark-pad=50&mark-w=64&w=1200&auto=format&fit=crop&q=60" />
              </div>
              <div class="card_title">
                <!-- <p style="color: white;">Menu</p> -->
              </div>
            </a>
              
            <a class="card 1" style="border-radius: 40px; text-decoration: none;">
                <div class="card_image"> <img src="https://www.hseblog.com/wp-content/uploads/2023/07/Right-Tool-For-The-Job-1.webp" /> </div>
                <div class="card_title title-white">
                  <p>Settings</p>
                </div>
              </a>
            
            </div>
    </div>


    
    <script src="/js/restauranthome.js"></script>
</body>
    <%-include('./partials/script') %>
